.task-details-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px;
    background-image: var(--edit-page-image-url);
    background-repeat: no=repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
}

/*used for applying a tint for better contrast*/
.task-details-container::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1;
}

.details-heading {
    font-size: 32px;
    font-weight: 300;
    margin: 35px 0;
    z-index: 3;
}

.current-task-container {
    z-index: 3;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--edit-task-background);
    color: #fff;
    border-radius: var(--border-radius);
    min-width: 450px;
    max-width: 750px;
    width: 65%;
}

.task-change {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 40px;
}

.task-change-title {
    font-size: 26px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.details-star {
    margin-right: 6px;
}

.task-change-subtitle {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: darkgray;
    margin-top: 10px;
}

.task-name-input {
    background-color: transparent;
    color: #fff;
    border: 1px solid var(--edit-task-border-color);
    padding: 12px;
    outline: none;
    font-size: 15px;
    font-weight: 300;
    width: 100%;
    resize: none;
    overflow: hidden;
    font-family: var(--font);
    border-radius: var(--border-radius);
}

.task-desc-input {
    background-color: transparent;
    border: 1px solid var(--edit-task-border-color);
    color: #fff;
    padding: 12px;
    resize: none;
    height: 120px;
    width: 100%;
    outline: none;
    font-family: var(--font);
    border-radius: var(--border-radius);
}

.date-picker {
    background-color: transparent;
    color: #fff;
    border: 1px solid var(--edit-task-border-color);
    font-size: 16px;
    font-family: var(--font);
    padding: 8px;
    outline: none;
    cursor: pointer;
}

.save-btn-container {
    margin: 40px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.save-btn {
    flex: 100%;
    padding: 15px 10px;
    border: none;
    color: #000;
    font-weight: 700;
    background-color: var(--edit-task-save-btn);
    border-radius: var(--border-radius);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 0 20px;
    position: relative;
}

.btn-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translatey(-50%);
}

.details-back-btn {
    background-color: var(--edit-task-back-btn);
    color: #fff;
}

.save-btn:hover {
    background-color: var(--hover-tint);
}

@media (max-width: 900px) {
    .current-task-container {
        width: 80%;
    }
}


@media (max-width: 700px) {

    .task-details-container {
        padding: 0;
    }

    .current-task-container {
        width: 95%;
        max-width: 600px;
        min-width: 0;
        padding: 15px;
    }

    .task-change-title {
        font-size: 22px;
    }

    .save-btn-container {
        flex-direction: column;
    }

    .save-btn {
        width: 100%;
        margin-bottom: 20px;
    }
}