.tasks-page-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

.tasks-nav {
    background-color: var(--navigation-color);
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    transition: all .3s ease;
}

.tasks-nav.active {
    transform: translateX(0);
    z-index: 5;
    transition: all .3s ease;
}

.active-tint {
    background-color: transparent;
    z-index: -1;
    transition: all .3s ease;
}

/*Used when the navigational bar is open*/
.active-tint.active {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 4;
    transition: all .3s ease;
}

.mobile-nav-open {
    display: none;
}

.mobile-nav {
    display: none;
}

.logo-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

.logo {
    height: 140px;
}

.filter-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.filter.back-btn {
    position: absolute;
    bottom: 0;
    color: var(--text);
    text-decoration: none;
}


.tasks-container {
    width: calc(100% - 250px);
    margin-left: 250px;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* 
    the old background image
    background-image: url(https://images.pexels.com/photos/3435249/pexels-photo-3435249.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2); 
    */
    background-image: var(--tasks-page-image-url);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}

/*Used as a black tint to improve contrast*/
.tasks-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1;
}

.add-task-container {
    z-index: 3;
    position: fixed;
    bottom: 0;
    width: calc(100% - 250px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.add-task {
    width: 85%;
    background-color: var(--task-color);
    padding: 15px 25px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    justify-content: flex-start;
    z-index: 2;
}

.input-icon {
    margin-right: 12px;
    cursor: pointer;
}

.input-task {
    background-color: transparent;
    color: var(--text);
    border: none;
    font-size: 16px;
    width: 100%;
    outline: none;
}

.remove-tasks {
    width: 30%;
    min-width: 300px;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    cursor: pointer;
    background-color: var(--primary);
}

.remove-tasks:hover {
    background-color: var(--hover-tint);
}

.remove-tasks-text {
    color: var(--text);
    margin-left: 8px;
}

.tasks {
    z-index: 3;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 80px;
}

.empty-tasks-container {
    width: 100%;
    padding: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-tasks-heading {
    font-size: 18px;
    font-weight: 300;
    color: darkgray;
    margin-left: 8px;
}


/*Styling the tasks nav for mobile and tablet*/
@media (max-width: 850px) {
    .tasks-nav {
        transform: translateX(-100%);
        transition: all .3s ease;
    }

    .mobile-nav-open {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: 3;
        cursor: pointer;
    }

    .mobile-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 15px;
        right: 10px;
        cursor: pointer;
    }

    .add-task-container {
        width: 100%;
    }

    .tasks-container {
        width: 100%;
        margin-left: 0;
        padding-top: 45px;
    }

    .task-icon {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 550px) {
    .task {
        width: 95%;
        flex-direction: column;
        position: relative;
    }

    .add-task {
        width: 95%;
    }

    .task-name {
        font-size: 15px;
        text-align: center;
        margin: 0 25px;
    }

    .task-radio {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
    }

    .task-icons {
        margin-top: 20px;
    }

    .task-icon-container {
        margin: 0 12px;
    }

    .task-icon {
        width: 26px;
        height: 26px;
    }

}